<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ifi.kuirin.mvp">

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--<activity android:name="com.ifi.kuirin.mvp.HomeActivity">-->
        <activity android:name="com.ifi.kuirin.mvp.f1_connect_device.ConnectDeviceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity android:name="com.ifi.kuirin.mvp.takephoto.CameraActivity">-->
        <!--</activity>-->
        <activity android:name=".f2_live_event.LiveEventActivity"/>
        <activity android:name=".f4_pain_place.F4PainPlaceActivity"/>
        <activity android:name=".f5_pain_level.f5_pain_level_selection.F5PainLevelSelectionActivity"/>
        <activity android:name=".f5_pain_level.F5PainLevelActivity"/>
    </application>

</manifest>